.container {
  padding: 20px;
}

.paciente-list {
    padding-inline: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.paciente-card {
  width: 300px;
  margin-bottom: 16px;
}

.example-header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.no-data {
  text-align: center;
  margin-top: 20px;
  color: gray;
}