<div class="container">
  <h2>Lista de Pacientes</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="paciente-list" *ngIf="pacientes.length > 0">
    <mat-card *ngFor="let p of pacientes" class="paciente-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>person</mat-icon>
        </div>
        <mat-card-title>{{ p.nombre1 }} {{ p.apellido1 }}</mat-card-title>
        <mat-card-subtitle>{{ p.numero_documento }}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <p><strong>Correo:</strong> {{ p.correo }}</p>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-button color="primary">EDITAR</button>
        <button mat-button color="warn">ELIMINAR</button>
      </mat-card-actions>
    </mat-card>
    
</div>

  <div *ngIf="pacientes.length === 0 && !errorMessage">
    No hay pacientes registrados.
  </div>
</div>